.App {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input,
textarea,
select {
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
